In [1]:
import pandas as pd
from functools import reduce
import re

In [37]:
races_df=pd.read_csv("../data/raw/races.csv")
races_df

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...
...,...,...,...,...,...,...,...,...
1030,1043,2020,13,21,Emilia Romagna Grand Prix,2020-11-01,12:10:00,https://en.wikipedia.org/wiki/2020_Emilia_Roma...
1031,1044,2020,14,5,Turkish Grand Prix,2020-11-15,10:10:00,https://en.wikipedia.org/wiki/2020_Turkish_Gra...
1032,1045,2020,15,3,Bahrain Grand Prix,2020-11-29,15:10:00,https://en.wikipedia.org/wiki/2020_Bahrain_Gra...
1033,1046,2020,16,3,Sakhir Grand Prix,2020-12-06,17:10:00,https://en.wikipedia.org/wiki/2020_Sakhir_Gran...
1034,1047,2020,17,24,Abu Dhabi Grand Prix,2020-12-13,13:10:00,https://en.wikipedia.org/wiki/2020_Abu_Dhabi_G...

In [38]:
results_df=pd.read_csv("../data/raw/results.csv")
results_df

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24855,24861,1042,825,210,20,19,16,16,16,0.0,65,\N,\N,63,16,1:21.460,205.632,11
24856,24862,1042,154,210,8,18,17,17,17,0.0,65,\N,\N,59,17,1:21.664,205.118,11
24857,24863,1042,849,3,6,20,18,18,18,0.0,64,\N,\N,53,19,1:21.859,204.629,12
24858,24864,1042,826,213,26,13,19,19,19,0.0,64,\N,\N,59,8,1:20.449,208.216,12
24859,24865,1042,840,211,18,12,\N,R,20,0.0,51,\N,\N,45,18,1:21.694,205.043,130

In [ ]:
races_results=races_df.merge(results_df)

In [ ]:
races_results

In [ ]:
driver_standingsdf=pd.read_csv("../data/raw/driver_standings.csv")
drivers_df=pd.read_csv("../data/raw/driver_standings.csv")
driver_standings_df= driver_standingsdf.fillna(0)

In [ ]:
results= driver_standings_df.merge(drivers_df, how='left', on= 'driverId')
results_filtered = results[results['position'] == 1]

In [ ]:
circuits_df=pd.read_csv("../data/raw/circuits.csv")

In [ ]:
circuits_df["country"].unique()

In [ ]:
races_df=pd.read_csv("../data/raw/races.csv")
races_new=races_df['name'].str.split(' ',n=1,expand=True)
races_df['name'].unique()

In [ ]:
races_df['name'].replace(to_replace={'Australian' : 'Australia','Malaysian': 'Malaysia'})

In [ ]:
'Australia', 'Malaysia', 'Bahrain', 'Spain', 'Turkey', 'Monaco',
       'Canada', 'France', 'UK', 'Germany', 'Hungary', 'Belgium', 'Italy',
       'Singapore', 'Japan', 'China', 'Brazil', 'USA', 'Austria', 'UAE',
       'Argentina', 'Portugal', 'South Africa', 'Mexico', 'Korea',
       'Netherlands', 'Sweden', 'Morocco', 'Switzerland', 'India',
       'Russia', 'Azerbaijan', 'Vietnam']

## All constructors files into one

In [39]:
constructors_df=pd.read_csv("../data/raw/constructors.csv")
consrtuctor_results_df=pd.read_csv("../data/raw/constructor_results.csv")
constructor_standings_df=pd.read_csv("../data/raw/constructor_standings.csv")
races_df=pd.read_csv("../data/raw/races.csv")
constructors_df.drop(columns=['url'],inplace=True)

In [40]:
race_const_df= consrtuctor_results_df.merge(races_df,on='raceId',how='left')

race_const_df.rename(columns={'name':'races_name'},inplace=True)
race_const_df.drop(columns=['url'],inplace=True)

In [41]:
race_const_df= race_const_df.merge(constructors_df,on='constructorId',how='left')
race_const_df.rename(columns={'name':'constructor_name','nationality':'constructor_nationality'},inplace=True)

In [42]:
race_const_df.head()

,constructorResultsId,raceId,constructorId,points,status,year,round,circuitId,races_name,date,time,constructorRef,constructor_name,constructor_nationality
0,1,18,1,14.0,\N,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,mclaren,McLaren,British
1,2,18,2,8.0,\N,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,bmw_sauber,BMW Sauber,German
2,3,18,3,9.0,\N,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,williams,Williams,British
3,4,18,4,5.0,\N,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,renault,Renault,French
4,5,18,5,2.0,\N,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,toro_rosso,Toro Rosso,Italian

In [43]:
race_const_df=race_const_df.merge(constructor_standings_df,on=['constructorId','raceId'],how='left')
race_const_df.rename(columns={'points':'constructor_point'},inplace=True)

In [44]:
race_const_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11680 entries, 0 to 11679
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   constructorResultsId     11680 non-null  int64
 1   raceId                   11680 non-null  int64
 2   constructorId            11680 non-null  int64
 3   points_x                 11680 non-null  float64
 4   status                   11680 non-null  object
 5   year                     11680 non-null  int64
 6   round                    11680 non-null  int64
 7   circuitId                11680 non-null  int64
 8   races_name               11680 non-null  object
 9   date                     11680 non-null  object
 10  time                     11680 non-null  object
 11  constructorRef           11680 non-null  object
 12  constructor_name         11680 non-null  object
 13  constructor_nationality  11680 non-null  object
 14  constructorStandingsId   11543 non-null  float64
 15  points_y                 11543 non-null  float64
 16  position                 11543 non-null  float64
 17  positionText             11543 non-null  object
 18  wins                     11543 non-null  float64
dtypes: float64(5), int64(6), object(8)
memory usage: 1.8+ MB

In [272]:
# constructorResults <- left_join(constructorResults, constructors %>% select(-url) %>% rename(name_constructor = name), by='constructorId')

# constructorResults <- left_join(constructorResults, constructorStandings %>% rename(point_constructor = points) %>% select(-X), by=c('constructorId','raceId'))

In [45]:
new_df=consrtuctor_results_df.merge(constructors_df,on='constructorId', how='left')

In [46]:
new_df.drop(columns=['status'],inplace=True)

In [47]:
new_df.rename(columns={'name':'constructor_name','nationality':'constructor_nationality','url':'constructor_url'},inplace=True)
new_df

,constructorResultsId,raceId,constructorId,points,constructorRef,constructor_name,constructor_nationality
0,1,18,1,14.0,mclaren,McLaren,British
1,2,18,2,8.0,bmw_sauber,BMW Sauber,German
2,3,18,3,9.0,williams,Williams,British
3,4,18,4,5.0,renault,Renault,French
4,5,18,5,2.0,toro_rosso,Toro Rosso,Italian
...,...,...,...,...,...,...,...
11675,16175,1042,211,6.0,racing_point,Racing Point,British
11676,16176,1042,4,6.0,renault,Renault,French
11677,16177,1042,51,0.0,alfa,Alfa Romeo,Italian
11678,16178,1042,3,0.0,williams,Williams,British
11679,16179,1042,210,0.0,haas,Haas F1 Team,American

In [48]:
constructor_standings_df=pd.read_csv("../data/raw/constructor_standings.csv")
# w=constructor_standings_df.loc[constructor_standings_df['wins']==1].count()
constructor_standings_df

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
0,1,18,1,14.0,1,1,1
1,2,18,2,8.0,3,3,0
2,3,18,3,9.0,2,2,0
3,4,18,4,5.0,4,4,0
4,5,18,5,2.0,5,5,0
...,...,...,...,...,...,...,...
12431,27608,1042,4,120.0,5,5,0
12432,27609,1042,51,5.0,8,8,0
12433,27610,1042,3,0.0,10,10,0
12434,27611,1042,9,226.0,2,2,1
12435,27612,1042,210,3.0,9,9,0

In [50]:
new_cons_df=constructor_standings_df.merge(new_df,on=['raceId','constructorId'], how='left')
new_cons_df.head(5)

,constructorStandingsId,raceId,constructorId,points_x,position,positionText,wins,constructorResultsId,points_y,constructorRef,constructor_name,constructor_nationality
0,1,18,1,14.0,1,1,1,1.0,14.0,mclaren,McLaren,British
1,2,18,2,8.0,3,3,0,2.0,8.0,bmw_sauber,BMW Sauber,German
2,3,18,3,9.0,2,2,0,3.0,9.0,williams,Williams,British
3,4,18,4,5.0,4,4,0,4.0,5.0,renault,Renault,French
4,5,18,5,2.0,5,5,0,5.0,2.0,toro_rosso,Toro Rosso,Italian

In [193]:
new_cons_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12436 entries, 0 to 12435
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   constructorStandingsId  12436 non-null  int64
 1   raceId                  12436 non-null  int64
 2   constructorId           12436 non-null  int64
 3   points_x                12436 non-null  float64
 4   position                12436 non-null  int64
 5   positionText            12436 non-null  object
 6   wins                    12436 non-null  int64
 7   constructorResultsId    11543 non-null  float64
 8   points_y                11543 non-null  float64
 9   constructorRef          11543 non-null  object
 10  name                    11543 non-null  object
 11  nationality             11543 non-null  object
 12  url                     11543 non-null  object
dtypes: float64(3), int64(5), object(5)
memory usage: 1.3+ MB

In [145]:
#look up the rows with win==1
cons_no1=new_cons_df.loc[new_cons_df['wins']==1]
cons_no1_new=cons_no1[['wins','name']]

In [146]:
#group the winners by their names and take the count of wins within each constructor
cons_gb=cons_no1_new.groupby(['name']).count()

In [147]:
cons_gb.sort_values(by=['wins'],ascending=False)
# cons_gb.merge(constructors_df)

                 wins
name
Ferrari           189
McLaren           125
Williams          112
Brabham            70
BRM                60
Tyrrell            55
Red Bull           47
Renault            37
Benetton           37
Mercedes           29
Team Lotus         29
Ligier             29
Jordan             24
Lotus F1           22
March              19
Cooper-Climax      13
Cooper-Maserati    12
BMW Sauber         12
Lotus-Ford         11
Lotus-Climax       11
Honda              10
Hesketh             7
Eagle-Weslake       7
Shadow              6
McLaren-Ford        6
Brabham-Climax      6
Penske              6
Porsche             6
Toro Rosso          5
AlphaTauri          5
Wolf                5
Matra-Ford          4
Brabham-Repco       4
Stewart             3
Brabham-Ford        2
Lotus-BRM           2
Cooper              1
Brawn               1
Vanwall             1

In [186]:
results_df=pd.read_csv("../data/raw/results.csv")
drivers_df=pd.read_csv("../data/raw/drivers.csv")
drivers_df.drop(columns=['number','url'],inplace=True) # since most of the columns have \n values
drivers_df

     driverId   driverRef code   forename     surname         dob nationality
0           1    hamilton  HAM      Lewis    Hamilton  1985-01-07     British
1           2    heidfeld  HEI       Nick    Heidfeld  1977-05-10      German
2           3     rosberg  ROS       Nico     Rosberg  1985-06-27      German
3           4      alonso  ALO   Fernando      Alonso  1981-07-29     Spanish
4           5  kovalainen  KOV     Heikki  Kovalainen  1981-10-19     Finnish
..        ...         ...  ...        ...         ...         ...         ...
843       845    sirotkin  SIR     Sergey    Sirotkin  1995-08-27     Russian
844       846      norris  NOR      Lando      Norris  1999-11-13     British
845       847     russell  RUS     George     Russell  1998-02-15     British
846       848       albon  ALB  Alexander       Albon  1996-03-23        Thai
847       849      latifi  LAT   Nicholas      Latifi  1995-06-29    Canadian

[848 rows x 7 columns]

In [187]:
results_drivers_df=results_df.merge(drivers_df,on="driverId",how="inner")

In [188]:
results_drivers_df.rename(columns={"points":"driver_points"},inplace=True)
results_drivers_df

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,driver_points,...,rank,fastestLapTime,fastestLapSpeed,statusId,driverRef,code,forename,surname,dob,nationality
0,1,18,1,1,22,1,1,1,1,10.0,...,2,1:27.452,218.300,1,hamilton,HAM,Lewis,Hamilton,1985-01-07,British
1,27,19,1,1,22,9,5,5,5,4.0,...,3,1:35.462,209.033,1,hamilton,HAM,Lewis,Hamilton,1985-01-07,British
2,57,20,1,1,22,3,13,13,13,0.0,...,19,1:35.520,203.969,11,hamilton,HAM,Lewis,Hamilton,1985-01-07,British
3,69,21,1,1,22,5,3,3,3,6.0,...,3,1:22.017,204.323,1,hamilton,HAM,Lewis,Hamilton,1985-01-07,British
4,90,22,1,1,22,3,2,2,2,8.0,...,2,1:26.529,222.085,1,hamilton,HAM,Lewis,Hamilton,1985-01-07,British
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24855,24776,1038,849,3,6,20,11,11,11,0.0,...,16,1:24.999,245.353,1,latifi,LAT,Nicholas,Latifi,1995-06-29,Canadian
24856,24800,1039,849,3,6,19,\N,R,15,0.0,...,14,2:11.365,143.736,4,latifi,LAT,Nicholas,Latifi,1995-06-29,Canadian
24857,24821,1040,849,3,6,20,16,16,16,0.0,...,18,1:41.044,208.352,11,latifi,LAT,Nicholas,Latifi,1995-06-29,Canadian
24858,24839,1041,849,3,6,18,14,14,14,0.0,...,13,1:31.377,202.816,1,latifi,LAT,Nicholas,Latifi,1995-06-29,Canadian
24859,24863,1042,849,3,6,20,18,18,18,0.0,...,19,1:21.859,204.629,12,latifi,LAT,Nicholas,Latifi,1995-06-29,Canadian

In [189]:
constructors_df.rename(columns={'name':'constructor_name','nationality':'constructor_nationality'},inplace=True)
constructors_df

,constructorId,constructorRef,constructor_name,constructor_nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso
...,...,...,...,...,...
206,209,manor,Manor Marussia,British,http://en.wikipedia.org/wiki/Manor_Motorsport
207,210,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
208,211,racing_point,Racing Point,British,http://en.wikipedia.org/wiki/Racing_Point_F1_Team
209,212,alpha_tauri,Scuderia Alpha Tauri,Italian,http://en.wikipedia.org/wiki/Scuderia_Alpha_Tauri
210,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri

In [190]:
res_driver_const_df=results_drivers_df.merge(constructors_df,on="constructorId",how="inner")

In [191]:

res_driver_const_df.rename(columns={'nationality':'driver_nationality',})

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,driver_points,...,driverRef,code,forename,surname,dob,driver_nationality,constructorRef,constructor_name,constructor_nationality,url
0,1,18,1,1,22,1,1,1,1,10.0,...,hamilton,HAM,Lewis,Hamilton,1985-01-07,British,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,27,19,1,1,22,9,5,5,5,4.0,...,hamilton,HAM,Lewis,Hamilton,1985-01-07,British,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
2,57,20,1,1,22,3,13,13,13,0.0,...,hamilton,HAM,Lewis,Hamilton,1985-01-07,British,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
3,69,21,1,1,22,5,3,3,3,6.0,...,hamilton,HAM,Lewis,Hamilton,1985-01-07,British,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
4,90,22,1,1,22,3,2,2,2,8.0,...,hamilton,HAM,Lewis,Hamilton,1985-01-07,British,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24855,23289,964,839,209,31,20,21,21,21,0.0,...,ocon,OCO,Esteban,Ocon,1996-09-17,French,manor,Manor Marussia,British,http://en.wikipedia.org/wiki/Manor_Motorsport
24856,23308,965,839,209,31,22,18,18,18,0.0,...,ocon,OCO,Esteban,Ocon,1996-09-17,French,manor,Manor Marussia,British,http://en.wikipedia.org/wiki/Manor_Motorsport
24857,23333,966,839,209,31,20,21,21,21,0.0,...,ocon,OCO,Esteban,Ocon,1996-09-17,French,manor,Manor Marussia,British,http://en.wikipedia.org/wiki/Manor_Motorsport
24858,23346,967,839,209,31,22,12,12,12,0.0,...,ocon,OCO,Esteban,Ocon,1996-09-17,French,manor,Manor Marussia,British,http://en.wikipedia.org/wiki/Manor_Motorsport
24859,23369,968,839,209,31,20,13,13,13,0.0,...,ocon,OCO,Esteban,Ocon,1996-09-17,French,manor,Manor Marussia,British,http://en.wikipedia.org/wiki/Manor_Motorsport

In [192]:
res_driver_const_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24860 entries, 0 to 24859
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   resultId                 24860 non-null  int64
 1   raceId                   24860 non-null  int64
 2   driverId                 24860 non-null  int64
 3   constructorId            24860 non-null  int64
 4   number                   24860 non-null  object
 5   grid                     24860 non-null  int64
 6   position                 24860 non-null  object
 7   positionText             24860 non-null  object
 8   positionOrder            24860 non-null  int64
 9   driver_points            24860 non-null  float64
 10  laps                     24860 non-null  int64
 11  time                     24860 non-null  object
 12  milliseconds             24860 non-null  object
 13  fastestLap               24860 non-null  object
 14  rank                     24860 non-null  object
 15  fastestLapTime           24860 non-null  object
 16  fastestLapSpeed          24860 non-null  object
 17  statusId                 24860 non-null  int64
 18  driverRef                24860 non-null  object
 19  code                     24860 non-null  object
 20  forename                 24860 non-null  object
 21  surname                  24860 non-null  object
 22  dob                      24860 non-null  object
 23  nationality              24860 non-null  object
 24  constructorRef           24860 non-null  object
 25  constructor_name         24860 non-null  object
 26  constructor_nationality  24860 non-null  object
 27  url                      24860 non-null  object
dtypes: float64(1), int64(8), object(19)
memory usage: 5.5+ MB

## Races and circuits

In [16]:
races_df=pd.read_csv("../data/raw/races.csv")
circuits_df=pd.read_csv("../data/raw/circuits.csv")

In [17]:
races_df.rename(columns={'name':'race_name','url':'races_url'},inplace=True)
circuits_df.rename(columns={'name':'circuit_name','url':'circuits_url'},inplace=True)

In [18]:
races_circuits_df=races_df.merge(circuits_df,on='circuitId',how="inner")

In [19]:
races_circuits_df.drop(columns=['alt'],inplace=True)

In [20]:
races_circuits_df

,raceId,year,round,circuitId,race_name,date,time,races_url,circuitRef,circuit_name,location,country,lat,lng,circuits_url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,18,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
2,36,2007,1,1,Australian Grand Prix,2007-03-18,03:00:00,http://en.wikipedia.org/wiki/2007_Australian_G...,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
3,55,2006,3,1,Australian Grand Prix,2006-04-02,14:00:00,http://en.wikipedia.org/wiki/2006_Australian_G...,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
4,71,2005,1,1,Australian Grand Prix,2005-03-06,14:00:00,http://en.wikipedia.org/wiki/2005_Australian_G...,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1030,976,2017,8,73,Azerbaijan Grand Prix,2017-06-25,13:00:00,https://en.wikipedia.org/wiki/2017_Azerbaijan_...,BAK,Baku City Circuit,Baku,Azerbaijan,40.3725,49.8533,http://en.wikipedia.org/wiki/Baku_City_Circuit
1031,992,2018,4,73,Azerbaijan Grand Prix,2018-04-29,12:10:00,https://en.wikipedia.org/wiki/2018_Azerbaijan_...,BAK,Baku City Circuit,Baku,Azerbaijan,40.3725,49.8533,http://en.wikipedia.org/wiki/Baku_City_Circuit
1032,1013,2019,4,73,Azerbaijan Grand Prix,2019-04-28,12:10:00,https://en.wikipedia.org/wiki/2019_Azerbaijan_...,BAK,Baku City Circuit,Baku,Azerbaijan,40.3725,49.8533,http://en.wikipedia.org/wiki/Baku_City_Circuit
1033,1039,2020,9,76,Tuscan Grand Prix,2020-09-13,13:10:00,https://en.wikipedia.org/wiki/2020_Tuscan_Gran...,mugello,Autodromo Internazionale del Mugello,Mugello,Italy,43.9975,11.3719,http://en.wikipedia.org/wiki/Mugello_Circuit
1034,1042,2020,12,75,Portuguese Grand Prix,2020-10-25,12:10:00,https://en.wikipedia.org/wiki/2020_Portuguese_...,portimao,AutÃ³dromo Internacional do Algarve,PortimÃ£o,Portugal,37.2270,-8.6267,http://en.wikipedia.org/wiki/Algarve_Internati...

In [21]:
# I can see time will be a problem, I will set all the times to seconds for all dataframes with time intervals: 
def hh_mm_ss2seconds(hh_mm_ss):
    return reduce(lambda acc, x: acc*60 + x, map(float, hh_mm_ss.split(':')))

In [26]:
races_circuits = races_circuits_df.replace({'time': '\\N'}, 0)
races_circuits

,raceId,year,round,circuitId,race_name,date,time,races_url,circuitRef,circuit_name,location,country,lat,lng,circuits_url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,18,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
2,36,2007,1,1,Australian Grand Prix,2007-03-18,03:00:00,http://en.wikipedia.org/wiki/2007_Australian_G...,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
3,55,2006,3,1,Australian Grand Prix,2006-04-02,14:00:00,http://en.wikipedia.org/wiki/2006_Australian_G...,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
4,71,2005,1,1,Australian Grand Prix,2005-03-06,14:00:00,http://en.wikipedia.org/wiki/2005_Australian_G...,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1030,976,2017,8,73,Azerbaijan Grand Prix,2017-06-25,13:00:00,https://en.wikipedia.org/wiki/2017_Azerbaijan_...,BAK,Baku City Circuit,Baku,Azerbaijan,40.3725,49.8533,http://en.wikipedia.org/wiki/Baku_City_Circuit
1031,992,2018,4,73,Azerbaijan Grand Prix,2018-04-29,12:10:00,https://en.wikipedia.org/wiki/2018_Azerbaijan_...,BAK,Baku City Circuit,Baku,Azerbaijan,40.3725,49.8533,http://en.wikipedia.org/wiki/Baku_City_Circuit
1032,1013,2019,4,73,Azerbaijan Grand Prix,2019-04-28,12:10:00,https://en.wikipedia.org/wiki/2019_Azerbaijan_...,BAK,Baku City Circuit,Baku,Azerbaijan,40.3725,49.8533,http://en.wikipedia.org/wiki/Baku_City_Circuit
1033,1039,2020,9,76,Tuscan Grand Prix,2020-09-13,13:10:00,https://en.wikipedia.org/wiki/2020_Tuscan_Gran...,mugello,Autodromo Internazionale del Mugello,Mugello,Italy,43.9975,11.3719,http://en.wikipedia.org/wiki/Mugello_Circuit
1034,1042,2020,12,75,Portuguese Grand Prix,2020-10-25,12:10:00,https://en.wikipedia.org/wiki/2020_Portuguese_...,portimao,AutÃ³dromo Internacional do Algarve,PortimÃ£o,Portugal,37.2270,-8.6267,http://en.wikipedia.org/wiki/Algarve_Internati...

In [28]:
races_circuits.to_csv('../data/Modified/races_circuits.csv', index = False,header=True)

In [29]:
races_circuits_df1 = pd.read_csv('../data/Modified/races_circuits.csv',
                     converters={'time': hh_mm_ss2seconds})

In [34]:
races_circuits_df1.to_csv('../data/Modified/races_circuits_final.csv', index = False,header=True)

In [35]:
races_circuits_df1

,raceId,year,round,circuitId,race_name,date,time,races_url,circuitRef,circuit_name,location,country,lat,lng,circuits_url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,21600.0,http://en.wikipedia.org/wiki/2009_Australian_G...,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,18,2008,1,1,Australian Grand Prix,2008-03-16,16200.0,http://en.wikipedia.org/wiki/2008_Australian_G...,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
2,36,2007,1,1,Australian Grand Prix,2007-03-18,10800.0,http://en.wikipedia.org/wiki/2007_Australian_G...,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
3,55,2006,3,1,Australian Grand Prix,2006-04-02,50400.0,http://en.wikipedia.org/wiki/2006_Australian_G...,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
4,71,2005,1,1,Australian Grand Prix,2005-03-06,50400.0,http://en.wikipedia.org/wiki/2005_Australian_G...,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.8497,144.9680,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1030,976,2017,8,73,Azerbaijan Grand Prix,2017-06-25,46800.0,https://en.wikipedia.org/wiki/2017_Azerbaijan_...,BAK,Baku City Circuit,Baku,Azerbaijan,40.3725,49.8533,http://en.wikipedia.org/wiki/Baku_City_Circuit
1031,992,2018,4,73,Azerbaijan Grand Prix,2018-04-29,43800.0,https://en.wikipedia.org/wiki/2018_Azerbaijan_...,BAK,Baku City Circuit,Baku,Azerbaijan,40.3725,49.8533,http://en.wikipedia.org/wiki/Baku_City_Circuit
1032,1013,2019,4,73,Azerbaijan Grand Prix,2019-04-28,43800.0,https://en.wikipedia.org/wiki/2019_Azerbaijan_...,BAK,Baku City Circuit,Baku,Azerbaijan,40.3725,49.8533,http://en.wikipedia.org/wiki/Baku_City_Circuit
1033,1039,2020,9,76,Tuscan Grand Prix,2020-09-13,47400.0,https://en.wikipedia.org/wiki/2020_Tuscan_Gran...,mugello,Autodromo Internazionale del Mugello,Mugello,Italy,43.9975,11.3719,http://en.wikipedia.org/wiki/Mugello_Circuit
1034,1042,2020,12,75,Portuguese Grand Prix,2020-10-25,43800.0,https://en.wikipedia.org/wiki/2020_Portuguese_...,portimao,AutÃ³dromo Internacional do Algarve,PortimÃ£o,Portugal,37.2270,-8.6267,http://en.wikipedia.org/wiki/Algarve_Internati...